:root {
  /* Color palette https://coolors.co/353535-3c6e71-ffffff-d9d9d9-284b63 */
  --jet: rgb(54, 54, 54);
  --ming: rgb(60, 111, 114);
  --white: rgb(255, 255, 255);
  --gainsboro: rgb(217, 217, 217);
  --indigo-dye: rgb(40, 75, 98);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 2px solid blue; */
}

/****************** body ******************/
body {
  padding: 0;
  background-color: rgba(217, 217, 217, 0.5);
  color: rgb(54, 54, 54);
}

h1 {
  font-size: 3em;
}

h2 {
  width: 100%;
  font-size: 1.6em;
  text-align: center;
}

img {
  max-width: 150px;
  border: 2px solid rgb(60, 111, 114);
}

.content-wrap,
.additional-content-wrap,
.subscription-wrap {
  width: 95%;
  margin: 0 auto;
  padding: 2.5em 0;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

@media screen and (min-width: 768px) {
  .content-wrap,
  .additional-content-wrap,
  .subscription-wrap {
    width: calc(768px - 10%);
  }
}

.anchor {
  display: block;
  padding-top: 100px;
  margin-top: -100px;
}

/****************** header ******************/
header {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  background-color: rgb(60, 111, 114);
  color: rgb(217, 217, 217);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  z-index: 5;
}

#header-wrap {
  margin: 0 auto;
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#header-img {
  height: 80%;
  margin-right: 0.4em;
  border-radius: 50%;
  /* border: 2px solid hsla(0, 0%, 21%, 1); */
}

nav {
  height: 50px;
  width: 100%;
  max-width: 768px;
  margin-bottom: 2px;
}

nav > ul {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: space-evenly;
  list-style: none;
}

nav > ul > li {
  height: 100%;
  width: 25%;
}

nav > ul > li > a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  font-size: 1.2em;
  font-weight: bold;
  text-decoration: none;
  border-radius: 5px;
}

nav > ul > li > a:link {
  color: rgb(217, 217, 217);
  border: 1px solid rgb(217, 217, 217);
}

nav > ul > li > a:visited {
  color: rgb(40, 75, 98);
  border: 1px solid rgb(40, 75, 98);
}

nav > ul > li > a:focus {
  color: rgb(40, 75, 98);
  border: 1px solid rgb(40, 75, 98);
  background: hsla(0, 0%, 100%, 1);
}

nav > ul > li > a:hover {
  color: rgb(40, 75, 98);
  border: 1px solid rgb(40, 75, 98);
  background: hsla(0, 0%, 100%, 1);
}

nav > ul > li > a:active {
  color: rgb(40, 75, 98);
  border: 1px solid rgb(40, 75, 98);
  background: hsla(0, 0%, 100%, 1);
}

/****************** content ******************/
.content-wrap {
  margin-top: 150px;
}

.content-wrap > section {
  margin-top: 3em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.content-wrap > section > img {
  width: 30%;
  height: auto;
  margin: 10px 15px;
  border-radius: 50%;
  border: 2px solid hsla(183, 31%, 34%, 1);
}

.content-wrap > section > ul {
  height: 100%;
  width: 70%;
  list-style: none;
}

.content-wrap > section > ul > li {
  margin-bottom: 0.8em;
}

/****************** additional content ******************/
.additional-content-wrap {
  align-items: center;
}

.additional-content {
  margin-top: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.additional-content > #video {
  max-width: 560px;
  max-height: calc(560px * 3 / 4);
  width: 85vw;
  height: calc(85vw * 3 / 4);
  padding: 3% 6%;
  background: rgba(60, 111, 114, 0.8);
  border: 2px solid rgba(60, 111, 114, 1);
  border-radius: 15px;
}

/****************** subscription ******************/
.subscription-wrap {
  align-items: center;
}

.subscription {
  margin-top: 2em;
  width: 280px;
  height: 120px;
}

.subscription > form {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.subscription > form > div {
  display: flex;
  justify-content: center;
  /* align-items: space-between; */
}

.subscription > form > div > label {
  font-size: 1.2em;
  width: 30%;
}

.subscription > form > div > input {
  font-size: 1em;
  width: 100%;
}

.subscription > form > div > #submit {
  margin-top: 0.2em;
  font-size: 1.2em;
  width: 100px;
  padding: 6px 3px;
  color: rgb(40, 75, 98);
  border: 2px solid rgb(40, 75, 98);
  border-radius: 10px;
}

.subscription > form > div > #submit:hover {
  /* font-weight: bold; */
  color: rgb(217, 217, 217);
  border: 2px solid rgb(217, 217, 217);
  border-radius: 10px;
  background: rgb(40, 75, 98);
}

/****************** footer ******************/
footer {
  width: 100vw;
  height: 3em;
  background: rgb(40, 75, 98);
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

footer > p {
  margin: auto 0;
  margin-right: 2vw;
  color: rgb(217, 217, 217);
  font-size: 1.2em;
  text-align: right;
}

@media screen and (min-width: 768px) {
  footer > p {
    margin-right: calc(((100vw - 768px) / 2) + 2vw);
  }
}

/* Video
------------------------------------------------------------------*/
/* .additional-content {
  display: flex;
}

 */

/* Subscription
------------------------------------------------------------------*/
/* .subscription {
  margin: 0;
  padding: 10px 25px;
}

.subscription form div {
  margin: 5px 0;
  display: flex;
}

.subscription form div label {
  margin: 0 5px;
  height: 100%;
  align-self: center;
}

.subscription form #submit {
  margin: 0 10px;
  padding: 5px 10px;
  border-radius: 10%;
} */

/* Responsive
------------------------------------------------------------------*/
/* @media (max-width: 600px) {
  body {
    margin: 60px 10px;
    padding: 0;
  }

  .content-wrap * img {
    max-width: 80px;
    height: auto;
  }

  .content-wrap #edge img {
    max-width: 110px;
    height: auto;
  }

  .additional-content #video {
    width: 400px;
    height: 225px;
  }
} */
